
.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.suggestion-box-item {
    width: 40%; /* Adjust the width as needed */
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px) ;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

.suggestion-box-item img {
    max-width: 59%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 30px;
}
.suggestions-container1 {
    width: 80vw;
    
    padding: 20px;
    margin-top: 20px;
    margin-left: 280px;
    max-width: 68vw;
    border-radius: 8px;

    font-size: 20px;
    color: white;

}
