<!-- this is done to set the url of static folder -->
{% set static_url = url_for('static', filename='') %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPG Form</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url }}formcss.css">
</head>

<body>
    <header>
        <h1>Psyche Scan - Mental Health Analysis</h1>
    </header>
    <div class="form-container">
        <h1>PsychePulse Gauge (PPG)</h1>
        <form action="/phq9" method="post">
            <div class="question">
                <label>1. Little interest or pleasure in doing things</label>
                <div class="options">
                    <label><input type="radio" name="q1" value="0" required> Not at all</label>
                    <label><input type="radio" name="q1" value="1"> Several days</label>
                    <label><input type="radio" name="q1" value="2"> More than half the days</label>
                    <label><input type="radio" name="q1" value="3"> Nearly every day</label>
                </div>
            </div>
            <div class="question">
                <label>2. Feeling down, depressed, or hopeless</label>
                <div class="options">
                    <label><input type="radio" name="q2" value="0" required> Not at all</label>
                    <label><input type="radio" name="q2" value="1"> Several days</label>
                    <label><input type="radio" name="q2" value="2"> More than half the days</label>
                    <label><input type="radio" name="q2" value="3"> Nearly every day</label>
                </div>
            </div>
            <div class="question">
                <label>3. Trouble falling or staying asleep, or sleeping too much</label>
                <div class="options">
                    <label><input type="radio" name="q3" value="0" required> Not at all</label>
                    <label><input type="radio" name="q3" value="1"> Several days</label>
                    <label><input type="radio" name="q3" value="2"> More than half the days</label>
                    <label><input type="radio" name="q3" value="3"> Nearly every day</label>
                </div>
            </div>
            <div class="question">
                <label>4. Feeling tired or having little energy</label>
                <div class="options">
                    <label><input type="radio" name="q4" value="0" required> Not at all</label>
                    <label><input type="radio" name="q4" value="1"> Several days</label>
                    <label><input type="radio" name="q4" value="2"> More than half the days</label>
                    <label><input type="radio" name="q4" value="3"> Nearly every day</label>
                </div>
            </div>
            <div class="question">
                <label>5. Poor appetite or overeating</label>
                <div class="options">
                    <label><input type="radio" name="q5" value="0" required> Not at all</label>
                    <label><input type="radio" name="q5" value="1"> Several days</label>
                    <label><input type="radio" name="q5" value="2"> More than half the days</label>
                    <label><input type="radio" name="q5" value="3"> Nearly every day</label>
                </div>
            </div>
            <div class="question">
                <label>6. Feeling bad about oneself or feeling like a failure</label>
                <div class="options">
                    <label><input type="radio" name="q6" value="0" required> Not at all</label>
                    <label><input type="radio" name="q6" value="1"> Several days</label>
                    <label><input type="radio" name="q6" value="2"> More than half the days</label>
                    <label><input type="radio" name="q6" value="3"> Nearly every day</label>
                </div>
            </div>
            <div class="question">
                <label>7. Trouble concentrating on things</label>
                <div class="options">
                    <label><input type="radio" name="q7" value="0" required> Not at all</label>
                    <label><input type="radio" name="q7" value="1"> Several days</label>
                    <label><input type="radio" name="q7" value="2"> More than half the days</label>
                    <label><input type="radio" name="q7" value="3"> Nearly every day</label>
                </div>
            </div>
            <div class="question">
                <label>8. Moving or speaking slowly or being fidgety/restless</label>
                <div class="options">
                    <label><input type="radio" name="q8" value="0" required> Not at all</label>
                    <label><input type="radio" name="q8" value="1"> Several days</label>
                    <label><input type="radio" name="q8" value="2"> More than half the days</label>
                    <label><input type="radio" name="q8" value="3"> Nearly every day</label>
                </div>
            </div>
            <div class="question">
                <label>9. Thoughts of being better off dead or self-harm</label>
                <div class="options">
                    <label><input type="radio" name="q9" value="0" required> Not at all</label>
                    <label><input type="radio" name="q9" value="1"> Several days</label>
                    <label><input type="radio" name="q9" value="2"> More than half the days</label>
                    <label><input type="radio" name="q9" value="3"> Nearly every day</label>
                </div>
            </div>

            <div class="submit-button">
                <input type="submit" value="Submit for Analysis">
            </div>
        </form>
    </div>
</body>

</html>
