<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylehow.css') }}">
    <title>Psyche Scan - How It Works</title>
</head>
<body>

    <header>
        <div class="psylogo">
            <button onclick="window.location.href='/'">PsycheScan</button>  
        </div>
        <h1>Psyche Scan - How It Works</h1>
    </header>

    <div class="step-box">
        <div class="eachstep">
            <h2>Step 1: Sign Up</h2>
            <p>Create an account to get started with Psyche Scan and use your Twitter Id for creating the account</p>
        </div>

        <div class="eachstep">
            <h2>Step 2: Log In</h2>
            <p>Log in to your account to access the Psyche Scan features.</p>
        </div>

        <div class="eachstep">
            <h2>Step 3: Analyzing Social Data</h2>
            <p>We will analyse your mental health on basis of your tweets.</p>
        </div>

        <div class="eachstep">
            <h2>Step 4: PsycheScan Form Analysis</h2>
            <p>Fill out the PsycheScan form for in-depth analysis.</p>
        </div>

        <div class="eachstep">
            <h2>Step 5: Results</h2>
            <p>Receive detailed results based on the analysis.</p>
        </div>

        <div class="eachstep">
            <h2>Step 6: Remedies</h2>
            <p>Explore recommended remedies for mental well-being.</p>
        </div>
    </div>

</body>
</html>